<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="mySlideshow" class="carousel">
      <ol class="carousel-indicators">
        <li data-target = "#mySlideshow" data-slide-to = "0" class="active"></li>
        <li data-target = "#mySlideshow" data-slide-to = "1"></li>
        <li data-target = "#mySlideshow" data-slide-to = "2"></li>
      </ol>
      <div class="carousel-inner">
        <div class = "item active">
          <div class="carousel-caption">
          </div>
          <img src="http://res.cloudinary.com/dllnnnotc/image/upload/c_fill,h_1080,w_1920/v1486591482/mocup-top-image_wdx9e5.jpg" alt="Fitness" class="img-responsive"/>
          <div class="carousel-caption">
            <h2>Talk to a fitness coach today! Click here to <a href="/users/<%=current_user.id%>/chats">Chat</a></h2>
          </div>

        </div>

        <div class = "item">
          <img src="http://res.cloudinary.com/dllnnnotc/image/upload/c_fill,h_1080,w_1920/v1486591621/xxD7O8m_yxovb5.jpg" alt="Fitness" class="img-responsive"/>
          <div class="carousel-caption">
            <h2>Get fitness lessons! Click here to <a href="/users/<%=current_user.id%>/chats">Chat</a></h2>
          </div>
        </div>

        <div class = "item">
          <img src="http://res.cloudinary.com/dllnnnotc/image/upload/c_scale,h_1080,w_1920/v1486591644/wc1723982_jwp4rb.jpg" alt="Fitness" class="img-responsive"/>
          <div class="carousel-caption">
            <h2>Need online coaching? Click here to <a href="/users/<%=current_user.id%>/chats">Chat</a></h2>
          </div>
        </div>

        <a class="carousel-control left" href="#mySlideshow" data-slide="prev">
          <span class="icon-prev"> </span>
        </a>

        <a class="carousel-control right" href="#mySlideshow" data-slide="next">
          <span class="icon-next"> </span>
        </a>

      </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script> $('#mySlideshow').carousel({ interval: 3000 }) </script>﻿

  </body>
</html>
