<!DOCTYPE html>
<div>
  <p>
    Welcome <%=current_user.first_name.capitalize%></br> Role: <%=current_user.role%>
  </p>
  <div id="message-wrap">
    <%@messages.each do |message| %>
    Title: <%=message.subject%></br>
    Body: <%=message.body%></br>
    <% end %>
  </div>
  <a href="/chats/new" id="chat-form-btn">New Chat</a>
</div>
