<!DOCTYPE html>
<div>
  <div id="message-wrap">
    <%@messages.each do |message| %>
    <%=message.subject%>
    <%=message.body%>
    <% end %>
  </div>
  <p>
    WELCOME <%=current_user.role%>
  </p>
  <a href="" id="chat-btn">Chat</a>
  <a href="/chats/new" id="chat-form-btn">New Chat</a>
</div>
