// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chat-wrap {
  width: 100%;
  text-align: center;
  margin-top: 10%;
}

.inner-chat-wrap {
  margin-left: 30%;
  margin-right: 30%;
  background: #555;
  color: #D3D3D3;
  padding: 20px;
  border-radius: 8px;
}

.chat-form-input, .chat-form-input1 {

}

.chat-title {

}
